.item-weather {
    background-position: center;
    background-size: cover;
}

.weather-cloud-day {
    background-image: url('../../../../../static/img/weather/cloud-day.jpg');
}
.weather-cloud-night {
    background-image: url('../../../../../static/img/weather/cloud-night.jpg');
}

.weather-rain-day {
    background-image: url('../../../../../static/img/weather/rain-day.jpg');
}
.weather-rain-night {
    background-image: url('../../../../../static/img/weather/rain-night.jpg');
}

.weather-clear-day {
    background-image: url('../../../../../static/img/weather/clear-day.jpg');
}
.weather-clear-night {
    background-image: url('../../../../../static/img/weather/clear-night.jpg');
}

.weather-fog-day {
    background-image: url('../../../../../static/img/weather/fog-day.jpg');
}
.weather-fog-night {
    background-image: url('../../../../../static/img/weather/fog-night.jpg');
}